.products {
    width: 100%;
    height: 820px;

    display: flex;
    gap: 20px;
    justify-content: center;

    margin-top: 20px;
}

.products__section {
    width: 100%;
}

.products__section_extreme {
    max-width: 400px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.products__section_middle {
    max-width: 600px;

    position: relative;
}

.products__square-section {
    width: 100%;
    max-width: 400px;
    height: 400px;

    display: flex;
    flex-direction: column;
    position: relative;

    background-color: #EDEDED;
}

.products__product {
    width: 100%;
    margin: 0 auto;
}

.products__product_ring {
    max-width: 260px;
    margin-top: 50px;
}

.products__product_earring {
    max-width: 300px;
    margin-top: -15px;
}

.products__product_necklace {
    max-width: 600px;
    min-height: 820px;
    object-position: bottom center;
    object-fit: cover;
}

.products__caption {
    position: absolute;
    left: 30px;
    bottom: 20px;
}

.products__middle-section_description {
    color: #fff;
}

.products__middle-section_price {
    color: #EFC58B;
}

.products__product-name {
    color: #272727;
}

.products__product-description {
    color: #757575;
}

.products__product-price {
    color: #E2B67A;
}