.subscription {
    width: 100%;
    min-height: 640px;

    display: flex;
}

.subscription__image {
    width: 100%;
    max-width: 710px;

    animation: image-slide 20s infinite ease-in-out;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.subscription__description {
    width: 100%;
    max-width: 340px;
    min-height: 280px;

    display: flex;
    flex-direction: column;

    margin: 180px auto 0;
}

.subscription__subtitle {
    width: 100%;
    max-width: max-content;

    font-family: "FuturaPT-book", Arial, sans-serif;
    font-size: 18px;
    font-weight: 400;
    letter-spacing: 0.9px;
    text-transform: uppercase;
    color: #272727;

    margin-bottom: 30px;
}

.subscription__phone-number {
    width: 100%;
    max-width: 160px;

    font-family: "FuturaPT-light", Arial, sans-serif;
    font-size: 22px;
    font-weight: 300;
    color: #959595;
    text-decoration: none;

    margin-bottom: 110px;
}

.subscription__form {
    width: 100%;
    max-width: 280px;
}

@keyframes image-slide {
    0%   { background-image: url("../../images/subsciption/subscription-img1.jpg"); }
    20%  { background-image: url("../../images/subsciption/subscription-img2.jpg"); }
    40%  { background-image: url("../../images/subsciption/subscription-img3.jpg"); }
    60%  { background-image: url("../../images/subsciption/subscription-img4.jpg"); }
    80%  { background-image: url("../../images/subsciption/subscription-img5.jpg"); }
    100% { background-image: url("../../images/subsciption/subscription-img1.jpg"); }
}