#root {
  width: 100%;

  display: flex;
  justify-content: center;
}

.page {
  width: 100%;
  max-width: 1440px;

  display: flex;
  flex-direction: column;

  position: relative;

  margin: 0 auto;
  border: 1px solid red;
}
