.header {
    width: 100%;
    max-width: 1116px;

    display: flex;
    align-items: center;

    position: absolute;
    top: 60px;
    left: 162px;
}

.header__logo {
    width: 100%;
    max-width: 258px;

    margin-right: 598px;
}

.header__nav {
    width: 100%;

    display: flex;
    gap: 30px;

    list-style-type: none;

    margin-right: 100px;
}

.header__nav_link {
    font-family: "FuturaPT-light", Arial, sans-serif;
    font-size: 20px;
    font-weight: 300;
    color: #FFF;

    text-decoration: none;
}