.catalog {
    width: 100%;

    display: flex;
    justify-content: space-between;

    margin-top: 20px;
}

.catalog__section {
    width: 100%;
    max-width: 710px;
    min-height: 587px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    opacity: 1;
    transition: opacity 0.3s ease-in-out;
}

.catalog__section:hover {
    opacity: 0.9;
    cursor: pointer;
}

.catalog__section_type_for-man {
    background-image: url("../images/man.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.catalog__section_type_for-woman {
    background-image: url("../images/woman.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.catalog__subtitle {
    width: 100%;
    max-width: 171px;

    font-family: "FuturaPT-light", Arial, sans-serif;
    font-size: 24px;
    font-weight: 300;
    color: #FFF;
}

.catalog__title {
    width: 100%;
    max-width: 433px;

    font-family: Forum, "Times New Roman", serif;
    font-size: 64px;
    font-weight: 400;
    text-align: center;
    letter-spacing: 1.92px;
    color: #FFF;
}

.catalog__line {
    background-color: #FFFFFF;

    margin-top: 23px;
}